# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore folders created from dep
vendor/*
_vendor*

# Ignore output binaries
terraform-provider-nelson

# Ignore any terraform directories and files
examples/*/.terraform/*
*.tfstate*
*crash.log

# Ignore build/ide files
bin/
.idea/
